.slick-arrow {
  font-size: 60px !important; /* Increase arrow size */
  width: 60px !important; /* Increase width */
  height: 60px !important; /* Increase height */
  z-index: 10; /* Ensure arrows are visible */
  color: black;
}

.slick-prev {
  left: -50px; /* Adjust position of the left arrow */
}

.slick-next {
  right: -50px; /* Adjust position of the right arrow */
}
